/* Add your custom styles here */
body {
    font-family: 'Nunito', sans-serif;
}

.material-icons-outlined {
    font-family: 'Material Symbols Outlined', sans-serif;
    font-size: 1rem; /* Adjust as needed */
    vertical-align: middle;
    font-style: normal; /* Add this line */
}

a.p-2 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

span[role="img"] {
    font-size: 1.5rem; /* Adjust the size as needed */
}